---
title: Blog
permalink: "/blog"
layout: default
---
<div class="container">
    {% for category in site.categories %}
    <h3>{{ category[0] }}</h3>

    <!-- {% for author in site.authors %}
  <h2>
    <a href="{{ author.url }}">
      {{ author.name }} - {{ author.position }}
    </a>
  </h2>
  <p>{{ author.content | markdownify }}</p>
{% endfor %} -->
    {% endfor %}
    {{ site.authors }}

    <div class="row">
        {% for post in site.posts %}
        <div class="card col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" style="padding: 8px; border: none">
            <a href="{{post.url | relative_url}}"><img style="width:100%; height: 200px; object-fit:cover"
                    src="{{ "/assets/img/bragaia.jpg" | relative_url }}"></a>
            <div class="card-body">
                <a ref="{{post.url | relative_url}}" class="custom-card">
                    <h5 class="verticalbar card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.excerpt }}</p>
                </a>
                {% assign author = site.authors | where:"identifier",post.author | first %}
                <a href="{{author.url | relative_url}}" class="custom-card">
                    <div class="d-flex flex-row">
                        <div class="p-2 my-auto">
                            <img class="thumbnail" src="{{ "/assets/img/bragaia.jpg" | relative_url }}">
                        </div>
                        <div class="p-2 my-auto">
                            <p class="card-text"><small class="text-muted">por {{ author.name }}</small></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>