---
title: Blog
permalink: /
layout: default
---
<div style="text-align: center; background: linear-gradient(-180deg, #BCBDE6, white);">
    <h1 style="padding-top: 30px; padding-bottom: 10px; font-weight: bold; font-size: 40px; opacity: 0.8;">Dicas práticas e valiosas pra você ser mais eficiente</h1>
</div>
<div class="_form_1"></div><script src="https://igorbragaia.activehosted.com/f/embed.php?id=1" type="text/javascript" charset="utf-8"></script>
<br/>
<!-- <div class="container">
    <p style="font-weight: bold; opacity: 0.7; display: inline;">TEMAS</p>
    {% for category in site.categories %}
    <p class="muskify-tag">{{ category[0] | upcase }}</p>
    {% endfor %}
</div> -->
{% include posts.html posts=site.posts %}