---
layout: default
---
<!-- add the button style & script -->
<link rel="stylesheet" href="{{ "/assets/js/applause-button/dist/applause-button.css" | relative_url }}" />
<script src="{{ "/assets/js/applause-button/dist/applause-button.js" | relative_url }}"></script>

{% assign author = site.authors | where:"identifier",page.author | first %}

<div class="vertically-spaced post-background-image" style="background-image: url({{page.image | relative_url}});">
    <div style="height: 80px;"></div>
    <div class="muskify-gradient">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-4" style="text-align: right;">
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                <div style="padding-top: 130px; padding-left: 30px; padding-right: 30px;">
                    <h3 class="verticalbar">{{ page.title | upcase}}</h3>
                    <p>
                        {{ page.excerpt }}
                    </p>
                    <a href="{{author.url | relative_url}}" class="custom-card">
                        <div class="d-flex flex-row">
                            <div class="p-2 my-auto">
                                <img class="thumbnail" src="{{ author.image | relative_url }}" loading="lazy">
                            </div>
                            <div class="p-2 my-auto">
                                <small>por {{ author.name }}</small>
                                <br />
                                <small class="text-muted">
                                    <time datetime="{{ post.date | date_to_xmlschema }}">
                                        {% include date.html date=page.date %} • {{ page.readingtime }} minutos de
                                        leitura
                                    </time>
                                </small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-4" style="text-align: center;">
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-4 text-sm-center text-md-center text-lg-right text-xl-right">
        <div class="container" style="position: sticky; top: 30px;">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <p style="font-weight: bold; opacity: 0.7;">TEMAS</p>
                    {% for category in page.categories %}
                    <p class="muskify-tag">{{ category | upcase }}</p>
                    {% endfor %}
                </div>
                <div class="col-4 col-sm-4 col-md-12 col-lg-12 col-xl-12">
                    <br />
                    <div>
                        <applause-button style="width: 58px; height: 58px; float: right; vertical-align: middle;"
                            multiclap="true" class="clapped clap" />
                    </div>
                    <br />
                    <br />
                    <br />
                </div>
                <div class="col-5 col-sm-5 col-md-12 col-lg-12 col-xl-12">
                    <p style="font-weight: bold; opacity: 0.7;">COMPARTILHE</p>
                    <div class="row">
                        <div class="col">
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title }}&summary={{ page.description }}&source={{ site.title }}"
                                onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
                                title="Share on Facebook">
                                <img class="icon" src="{{ "/assets/img/facebook.svg" | relative_url }}" loading="lazy">
                            </a>
                            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title }}&summary={{ page.description }}&source={{ site.title }}"
                                onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
                                title="Share on LinkedIn">
                                <img class="icon" src="{{ "/assets/img/linkedin.svg" | relative_url }}" loading="lazy">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 post-images"
        style="padding-left: 30px; padding-right: 30px;">
        <div class="post">
            {{ content }}
        </div>
        <hr />
        <p style="font-weight: bold; padding: 30px;">O que você achou deste conteúdo? Deixe um comentário aqui embaixo,
            vou adorar saber sua opinião!</p>
        <div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-width="100%"></div>
        <br />
        {% if posts.size > 0 %}
        <p style="font-weight: bold; opacity: 0.7;padding-left: 30px;">LEIA TAMBÉM</p>
        {% assign posts = posts | sample: 3 %}
        {% include posts.html posts=posts %}
        {% endif %}
    </div>
    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-4" style="padding: 30px; text-align: left;">
        <div style="position: sticky;top: 30px;">
            {% assign posts = site.posts | where_exp:"post","post.url != page.url" %}
            {% if posts.size > 0 %}
            <h6 style="left: -15px; color: lightblue;">MAIS RECENTES</h6>
            <div class="thin-verticalbar">
                {% for post in posts limit: 3 | sort: "last" %}
                {% assign otherauthor = site.authors | where:"identifier",post.author | first %}
                <a class="custom-card" href="{{ post.url | relative_url}}">
                    <span style="font-size: 10px;">{{  post.categories | sample | upcase }}</span> <span
                        style="font-weight: bold; font-size: 14px;">{{ post.title }}</span> <span
                        style="font-size: 11px; opacity: 0.5;">{{ otherauthor.name }} </span>
                </a>
                <hr />
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>